
/* Your CSS Code here. */
body {
  margin: 20px;
  padding: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  margin: 20px;
  border: 15px solid blue;
  padding: 50px;
  width: 300px;
  background-color: lightblue;
  font-family: monospace;
}